.speech
{
    color:black;
    font-size: medium;
    font-family:'Courier New', Courier, monospace;
}
.direction
{
    background-color:bisque;
    color: black;
    font-size:small;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.direction:hover
{
    color:crimson;
    background-color:darkseagreen;
}
.name {
    color: green;
    font-family:Arial, Helvetica, sans-serif;
}
.LUKA {
    color:blue;
}
.SMIRNOV {
    color:darkorange;
}
.POPOV {
    color:deeppink;
}
table {
    border-color: black;
    border: 1px solid;
    width: 50%;
    height: 200px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
th {
    border-color:black;
    border: 1px solid;
    color: blue;
    background-color:yellow;
}
td {
    border-color:greenyellow;
    border: 1px solid;
}
.LUKA:hover {
    font-size: medium;
    color: blue;
    text-shadow: 0 0 10px blue;
    border-style: dashed;
}
    .SMIRNOV:hover {
        font-size: medium;
        color: darkorange;
        text-shadow: 0 0 10px darkorange;
        border-style: dashed;
            }
.POPOV:hover {
    font-size: medium;
    color: deeppink;
    text-shadow: 0 0 10px deeppink;
    border-style: dashed;
}